@model IEnumerable<MvcShoppingCar.Models.Product>
@{
    
    var ajaxOption = new AjaxOptions()
    {
        OnSuccess = "AddToCarSuccess",
        OnFailure = "AddToCarFailure",
        HttpMethod = "Post"

    };
    
    
    }


@section scripts{
    @Scripts.Render("~/boundles/jqueryval")
<script>
    function AddToCarSuccess() {
        alert('加入購物車成功');
    }

    function AddToCarFailure() {
        alert('加入購物車失敗 (HTTP 狀態碼:'+xhr.status+')');
    }

</script>


}


@{
    ViewBag.Title = "ProductList";
}

<h2>@Html.DisplayNameFor(model=>model.ToList()[0])</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
